@import "../sass/main.scss";

.MyLearning {
  &__Layout__header {
    background-color: $secondary-050;
    padding: 16px 0;

    &__width {
      max-width: 858px;
      margin: 0 68px 0 366px;
    }
  }

  &__Layout__bgcolor {
    background-color: $secondary-050;
  }

  &__Layout__content {
    max-width: 858px;
    margin: 0 68px 0 366px;
  }

  .lesson__completed p {
    color: $disabled-light-bg;
  }
}

@media screen and (max-width: $max_width_for_mobile) {
  .MyLearning {
    &__Layout__header {
      &__width {
        max-width: 100%;
        margin: 0;
      }
    }

    &__Layout__content {
      max-width: 100%;
      margin: 0;
    }
  }
}
