@import "../sass/main.scss";

.MyLearning {
  &__Layout__header {
    background-color: $secondary-050;
    padding: 16px 0;

    &__width {
      max-width: 858px;
      margin: 0 auto;
    }
  }

  &__Layout__bgcolor {
    background-color: $secondary-050;
  }

  &__Layout__content {
    max-width: 858px;
    margin: 0 auto;
  }
  
  .lesson__completed p {
    color: $disabled-light-bg;
  }
}
