@import "../sass/main.scss";

.ProgressUpdate-title {
    @extend .headline-5;
    color: $primary-500;
}

.ProgressUpdate-sub-title {
    @extend .headline-6;
    color: $primary-500;
}

.ProgressUpdate-content {
    @extend .body-1;
    color: $neutral-grey-dark-2;
}