.MediaCarousel {
    max-width: 557px;

    .Project {
        max-width: 100%;
        position: relative;
        height: 428px;
        overflow: hidden;
        padding: 20px;

        img {
            max-width: 460px;
            position: relative;
            max-height: 360px;
        }
    }
}


@media screen and (max-width: 600px) {
    .MediaCarousel {
        max-width: 328px;

        .Project {
                max-width: 100%;
                position: relative;
                height: auto;
                overflow: hidden;
        
                img {
                    max-width: 264px;
                    position: relative;
                    max-height: 232px;
                }
            }
    }
}