@import "../../sass/main.scss";

.Analytics-title {
  @extend .headline-5;
  color: $primary-500;
  margin-top: 40px;
}

.Analytics-no-content {
  @extend .subtitle-1;
  color: $primary-500;
  margin-top: 40px;
  text-align: center;
}

.Analytics-chart-title {
  @extend .subtitle-1;
  color: $primary-500;
}

.Analytics-stat {
  &-container {
    text-align: center;
  }

  &-title {
    @extend .subtitle-1;
    color: $primary-500;
  }

  &-text {
    font-family: $subtitle-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
  }
}

.Analytics-learning-process {
  &-title {
    @extend .subtitle-1;
    color: $primary-500;
  }

  &-lesson-container {
    background-color: $primary-300;
    margin: 0px -16px;
  }

  &-lesson-title {
    @extend .subtitle-1;
    color: $secondary-050;
    margin-left: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  &-status-label {
    @extend .caption;
  }
}

@media (max-width: $max_width_for_mobile) {
  .Analytics-title {
    margin-top: 33px;
  }

  .Analytics-chart-title {
    @include subtitle-2();
  }

  .Analytics-stat {
    &-title {
      @include body-1-bold();
    }

    &-text {
      font-size: 20px;
    }
  }
}
