<!DOCTYPE html>

<html>
  <head>
    <title>Edspresso backend</title>
  </head>

  <body>
    <h1>Edspresso backend server</h1>
    <a href="https://docs.google.com/spreadsheets/d/1ZBq1PpxrQOFen6PIkx37FXSOnhil_I5bWz2fWHu8AN4/edit?usp=sharing" 
        target="_blank">API Endpoint document</a>
    <h2>API Endpoint (available currently : 2023/2/17 )</h2>
    <ol>
      <li><strong>UserRole</strong>
        <ul>
          <li>Login(POST) : http://204.236.129.120:8080/api/v1/login || return => {loginSuccess, name, role}</li>
          <li>Register(POST) : http://204.236.129.120:8080/api/v1/register || return => {success, _id, name, role}</li>
        </ul>
      </li>
      <li><strong>Trainee</strong>
        <ul>
          <li>All trainees info(GET) :  http://204.236.129.120:8080/api/v1/trainee</li>
          <li>One trainee info(GET) : http://204.236.129.120:8080/api/v1/trainee/:id</li>
        </ul>
      </li>
        <li><strong>Manage</strong>
        <ul>
          <li>Trainee List(GET) : http://204.236.129.120:8080/api/v1/manager-trainees <== TODO</li>
          <li>One Manager info (GET) : http://204.236.129.120:8080/api/v1/manager/:id</li>
          <li>Create Manager (POST) : http://204.236.129.120:8080/api/v1/manager</li>
          <li>Update Manager (POST) : http://204.236.129.120:8080/api/v1/managerr/:id</li>
        </ul>
      </li>
    </ol>
  </body>
</html>
