<!DOCTYPE html>

<html>
  <head>
    <title>Edspresso backend</title>
  </head>

  <body>
    <h1>Edspresso backend server Info</h1>
    <a
      href="https://docs.google.com/spreadsheets/d/1ZBq1PpxrQOFen6PIkx37FXSOnhil_I5bWz2fWHu8AN4/edit?usp=sharing"
      target="_blank"
      >API Endpoint document</a
    >
    <h2>API Endpoint (v1)</h2>
    <ol>
      <li>
        <strong>UserRole</strong> :
        <a
          href="https://github.com/Supernova-teambits/edspresso-supernova/blob/develop/server/models/UserRole.js"
          target="_blank"
          >Schema</a
        >
        <ul>
          <li>
            Login(POST) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/login
          </li>
          <li>
            Register(POST) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/register
          </li>
        </ul>
      </li>
      <li>
        <strong>Manage</strong> :
        <a
          href="https://github.com/Supernova-teambits/edspresso-supernova/blob/develop/server/models/Manager.js"
          target="_blank"
          >Schema</a
        >
        <ul>
          <li>
            One manager info (GET) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/manager/:id
          </li>
          <li>
            Create manager (POST) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/manager
          </li>
          <li>
            Update manager (POST) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/manager/:id
          </li>
        </ul>
      </li>
      <li>
        <strong>Trainee</strong> :
        <a
          href="https://github.com/Supernova-teambits/edspresso-supernova/blob/develop/server/models/Trainee.js"
          target="_blank"
          >Schema</a
        >
        <ul>
          <li>
            Trainees according to managerCode (GET) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/trainee
          </li>
          <li>
            All trainees info (GET) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/trainee
          </li>
          <li>
            One trainee info (GET) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/trainee/:id
          </li>
          <li>
            Create trainee (POST) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/trainee
          </li>
          <li>
            Update trainee (PUT) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/trainee/:id
          </li>
        </ul>
      </li>
      <li>
        <strong>Progress</strong> :
        <a
          href="https://github.com/Supernova-teambits/edspresso-supernova/blob/develop/server/models/Progress.js"
          target="_blank"
          >Schema</a
        >
        <ul>
          <li>
            Progresses according to managerCode (GET) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/progress/managerCode/:id
          </li>
          <li>
            Trainee progress info (GET) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/progress/trainee/:id
          </li>
          <li>
            Create progress (POST) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/progress
          </li>
          <li>
            Update progress (PUT) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/progress/:id
          </li>
        </ul>
      </li>
      <li>
        <strong>Lesson</strong> :
        <a
          href="https://github.com/Supernova-teambits/edspresso-supernova/blob/develop/server/models/Lesson.js"
          target="_blank"
          >Schema</a
        >
        <ul>
          <li>
            All lessons (GET) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/lesson
          </li>
          <li>
            Lesson details (GET) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/lesson/:id
          </li>
          <li>
            Create lesson (POST) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/lesson
          </li>
          <li>
            Update lesson (PUT) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/lesson/:id
          </li>
          <li>
            Delete lesson (DELETE) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/lesson/:id
          </li>
        </ul>
      </li>
      <li>
        <strong>Step</strong> :
        <a
          href="https://github.com/Supernova-teambits/edspresso-supernova/blob/develop/server/models/Step.js"
          target="_blank"
          >Schema</a
        >
        <ul>
          <li>
            All steps (GET) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/step
          </li>
          <li>
            Step details (GET) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/step/:id
          </li>
          <li>
            Create step (POST) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/step
          </li>
          <li>
            Update step (PUT) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/step/:id
          </li>
          <li>
            Delete step (DELETE) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/step/:id
          </li>
        </ul>
      </li>
      <li>
        <strong>StepProgress</strong> :
        <a
          href="https://github.com/Supernova-teambits/edspresso-supernova/blob/develop/server/models/StepProgress.js"
          target="_blank"
          >Schema</a
        >
        <ul>
          <li>
            StepProgress details (GET) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/stepProgress/:id
          </li>
          <li>
            Create stepProgress (POST) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/stepProgress
          </li>
          <li>
            Update stepProgress (PUT) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/stepProgress/:id
          </li>
          <li>
            Delete stepProgress (DELETE) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/stepProgress/:id
          </li>
        </ul>
      </li>
      <li>
        <strong>Category</strong> :
        <a
          href="https://github.com/Supernova-teambits/edspresso-supernova/blob/develop/server/models/Category.js"
          target="_blank"
          >Schema</a
        >
        <ul>
          <li>
            All categories (GET) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/category
          </li>
          <li>
            Create category (POST) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/category
          </li>
          <li>
            Update category (PUT) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/category/:id
          </li>
          <li>
            Delete category (DELETE) :
            https://edspresso-backend-hosting-production.up.railway.app/api/v1/category/:id
          </li>
        </ul>
      </li>
    </ol>
  </body>
</html>
