@import "../../sass/main.scss";

.LessonCard {
    @extend .md;
    background-color: #fff;
    width: 136px;
    height: 168px;
    padding: 8px;
    border-radius: 12px;

}

.LessonCard-title {
    @extend .subtitle-2;
    color: $primary-500;
    margin: 16px 0 8px;
}

.LessonCard-img {
    height: 94px;
    width: 120px;
    border-radius: 11px;
}

.LessonCard-ProgressBar {  

    &.MuiLinearProgress-colorPrimary {
        background-color: $secondary-100;
        width: 122px;
        height: 8px;
        border-radius: 8px;
        
        .MuiLinearProgress-barColorPrimary {
            background-color: $accent-400;
            border-radius: 8px; 
        }
    }
}