@import "../../sass/main.scss";

.TipsCard {
  width: 200px;
  padding: 20px 18px;
  background-color: $neutral-white;
  @extend .md;
  border-radius: 12px;

  &-title {
    @extend .headline-6;
    color: $primary-500;
    margin: 0;
  }

  &-content {
    @extend .body-1;
    color: $primary-500;
    margin: 0;
    margin-top: 16px;
  }
}


@media (max-width: $max_width_for_mobile) {
  .TipsCard {
  width: 100%;
 }
}
