@import "../sass/main.scss";
$sidebar-width: 264px;
$sidebar-height: 100%;
$sidebar-padding: 24px 16px 64px 24px;
$sidebar-gap: 48px;
$sidebar-shadow: 20px 0px 24px -4px rgba(16, 24, 40, 0.1),
  8px 0px 8px -4px rgba(16, 24, 40, 0.04);
$sidebar-border-radius: 0px 20px 20px 0px;

.logo {
  margin-bottom: 58px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: $sidebar-width;
  height: $sidebar-height;
  padding: $sidebar-padding;
  gap: $sidebar-gap;
  background-color: $primary-500;
  box-shadow: $sidebar-shadow;
  border-radius: $sidebar-border-radius;
  z-index: 4;

  .sidebar {
    margin-left: 24px;
    margin-right: 24px;
  }

  .sidebar-menu {
    @extend .headline-6;
    color: $secondary-100;

    h4 {
      display: flex;
      align-items: center;
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      color: $secondary-100;

      svg {
        width: 24px;
        height: 24px;
        margin-right: 12px;
      }
    }

    .profile1 {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 114px;
      height: 40px;
      margin-top: 96px;
      padding: 0;
    }
    .profile2 {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 114px;
      height: 40px;
      margin-top: 82.57px;
      padding: 0;
    }
    .separator {
      width: 224px;
      height: 0px;
      border-top: 2px solid #949499;
      margin-top: 48px;
      margin-bottom: 48px;
    }

    p {
      margin: 0;
      font-size: 14px;
      line-height: 21px;
      color: $secondary-100;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 12px;
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $secondary-100;
        margin-bottom: 16px;

        svg {
          width: 16px;
          height: 16px;
          margin-right: 16px;
        }

        a {
          color: $secondary-100;
          text-decoration: none;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        &.active {
          font-weight: 500;
          text-decoration: underline;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &[disabled] {
          opacity: 0.5;
          cursor: default;

          a {
            cursor: default;
          }
        }
      }
    }
  }
}
.ham-burger {
  display: none;
}
.mobile-menu {
  display: none;
}
.back-nav {
  display: none;
}
@media (max-width: $max_width_for_mobile) {
  .ham-burger {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    left: 8.33%;
    right: 8.33%;
    top: 16.67%;
    bottom: 16.67%;

    height: 50px;
    align-items: center;
  }
  .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: $primary-500;
    height: 64px;
    width: 100%;
    padding: $sidebar-padding;
  }
  .sidebar {
    display: none;
  }
  .sidebar.expanded {
    display: block;
    z-index: 3;
    left: 0;

    .sidebar {
      display: block;
      transition: all 0.3s slide-in;
    }
  }
  .sidebar.expanded .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 290px;
    height: $sidebar-height;
    padding: $sidebar-padding;
    gap: $sidebar-gap;
    background-color: $primary-500;
    box-shadow: $sidebar-shadow;
    border-radius: $sidebar-border-radius;
    z-index: 3;
  }
  .back-nav {
    display: flex;
  }
}

@media (max-width: $max_width_for_mobile) {
  .app-screen {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }
}
