.menu-item
{
    display: inline-block;
}
.sidebar-menu
{
    background-color: #373a47;
    color: #ffffff;
    width: 20%;
    height: 100%;
}
a{
    color: #ffffff;
}
* {
padding: 5px;
}
ul{
    list-style-type: none;
}