@import "../../sass/main.scss";

.MentorVerification {
  margin: 0 auto;
  max-width: 858px;

  &-title {
    @extend .headline-4;
    color: $primary-700;
    margin: 0 0 16px;
  }

  &-body {
    @extend .body-1;
    color: $neutral-grey-dark-2;
    margin: 16px 0;
  }

  &-card {
    @extend .md;
    background-color: $neutral-white;
    border-radius: 12px;
    padding: 20px 18px;
    max-width: 420px;
    min-height: 190px;

    &-title {
      @extend .headline-4;
      color: $primary-500;
      margin: 0 0 16px;
    }

    &-content-icon {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &-btns {
      display: flex;
      gap: 8px;
    }

    > p {
      @extend .body-1;
      color: $primary-500;
      margin: 0 0 16px;
    }
    .passDate {
      @extend .subtitle-2;
    }

    .QuizStart-btn:disabled {
      background-color: $disabled-accent;
    }
  }
}

@media (max-width: $max_width_for_mobile) {
  .MentorVerification {
    &-text {
      width: 420px;
      margin: 0 auto;
    }
    &-card {
      margin: 0 auto;
    }
  }
}
