@import "../../sass/main.scss";

.DonutChart-Legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 24px 0px;
}

.DonutChart-Legend-Text-Container {
  margin-left: 20px;
}

.DonutChart-Legend-Main-Text {
  @extend .subtitle-2;
  color: $neutral-grey-dark-2;
  margin: 2px;
}

.DonutChart-Legend-Sub-Text {
  @extend .body-1;
  color: $neutral-grey-dark-2;
  margin: 2px;
}
