@import "../../sass/main.scss";

.CardCollestion {
  padding: 16px 16px 0 16px;

  &-subtitle {
    @extend .headline-5;
    color: $primary-500;
    margin: 0 0 24px 0;
  }

  &-container {
    padding: 0;
    overflow: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0px; 
    }
  }
}
